<?xml version="1.0" encoding="UTF-8" ?>

<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!--PatternLayout
                    pattern="[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{4} - %msg%n" /-->
            <PatternLayout
                    pattern="[%level] %d{HH:mm:ss.SSS} [%t] %c{4} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
        </Root>

        <Logger name="net.devaction" level="trace" additivity="true"/>
        <Logger name="net.devaction.kafka.consumer.TopicConsumerImpl" level="off" additivity="true"/>

        <Logger name="net.devaction.kafka.accountbalanceconsumer.AccountBalanceConsumer"
                level="debug" additivity="true"/>
    </Loggers>
</Configuration>
